.captureBtn {
  padding: 7px 30px;
  background-color: #3fa9f9;
  color: whitesmoke;
  border-radius: 30px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 15px;
  cursor: pointer;
}
