.ic-m {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 5% 10%;
  gap: 10%;
  overflow-x: hidden;
}

.ic-m-l {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  padding: 30px 0;
  align-items: center;
}

.ic-m-l img {
  width: 400px;
  height: 400px;
}

.ic-m-r {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  /* background: brown; */
}

.ic-m-r-pc {
  display: flex;
  gap: 10px;
  align-items: center;
}

.ic-m-r-h3 {
  font-size: 40px;
}
.ic-m-r-h4 {
  font-size: 20px;
}

.ic-m-r-h5 {
  font-size: 17px;
}

.ic-m-r-s-p {
  font-size: 17px;
}

.ic-m-r-ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 30px;
}

.ic-m-r-btn {
  width: 100%;
  padding: 5px 10px;
  margin-top: 10px;
  background-color: #3fa9f9;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 20px;
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
}

.ic-m-r-linkcont {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.ic-m-r-link {
  gap: 5px;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 750px) {
  .ic-m {
    flex-direction: column;
    padding: 10% 5%;
    gap: 30px;
  }

  .ic-m-l {
    flex-direction: column;
    background-color: white;
    align-items: center;
  }

  .ic-m-l img {
    width: 80%;
    height: 300px;
  }

  .ic-m-r {
    gap: 5px;
    padding: 0 20px;
  }
}
