.m-fa {
  width: 100%;
  height: 100%;
  background-color: #ffff;
  padding: 50px 0;
}

.m-fa-c {
  margin: 0 auto;
  width: 98%;
  height: 90%;
  background: #ececec;
  padding: 90px 90px 30px;
  border-radius: 15px;
}

.m-fa-c-h2 {
  font-size: clamp(40px, 3vw, 48px);
  color: #1b3061;
}

.m-fa-qa {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 750px) {
  .m-fa {
    padding-bottom: 0;
    padding-top: 0;
  }
  .m-fa-c {
    width: 100%;
    padding: 50px 30px 30px;
    border-radius: 0px;
  }

  .m-fa-qa {
    display: flex;
    flex-direction: column;
  }
}
